<template>
<div>

  <v-navigation-drawer app v-bind:width="200" class="primary">
    <v-list>
      <v-list-item>
        <v-list-item-action>
          <v-icon class="white--text">dashboard</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="white--text">Dashboard</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>


  <div class="home col-8 mx-auto py-5 mt-5">
    <h1>Barlus {{ user.name }} !!!</h1>
    <div class="card">
      <div class="card-body" v-if="user">
        <h3>Hello, {{ user.name }}</h3>
        <span>{{ user.email }}</span>
      </div>
    </div>
  </div>


</div>

</template>

<script>
import User from "../apis/User";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      user: state => state.auth.user
    })
  },

  mounted() {
    User.auth().then(response => {
      this.$store.commit("AUTH_USER", response.data);
    });
  }
};
</script>
