<template>

  <nav >
    <v-app-bar app>
      <v-toolbar-title class="text-uppercase grey--text">
          <span class="font-weight-light">Ver</span>
          <span>Sus</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <router-link
              to="/login"
      >
      <v-btn style="margin-right: 20px"
             v-if="!isLoggedIn"
      >
        <span>Login</span>
      </v-btn>
      </router-link>

      <router-link
              to="/register"
      >
        <v-btn v-if="!isLoggedIn">
          <span>Sign Up</span>
        </v-btn>
      </router-link>

      <a v-if="isLoggedIn"
         @click.prevent="logout">
        <v-btn text color="grey">
          <span>Sign Out</span>
          <v-icon right>exit_to_app</v-icon>
        </v-btn>
      </a>

    </v-app-bar>
  </nav>

</template>

<script>
import User from "../apis/User";
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["isLoggedIn"])
  },

  methods: {
    logout() {
      User.logout().then(() => {
        localStorage.removeItem("token");
        this.$store.commit("LOGIN", false);
        this.$router.push({ name: "Home" });
      });
    }
  }
};
</script>

<style>
.router-link-exact-active {
  color: #ffffff !important;
  transition: all 0.25s;
}
</style>
