=
<template>
  <div id="app" class="bg-light h-screen">
    <Navigation />
    <router-view />
  </div>
</template>

<script>
  import Navigation from "@/components/Navigation.vue";

export default {
  components: {
    Navigation
  },

  mounted() {
    this.$store.commit("LOGIN", !!localStorage.getItem("token"));
  }
};
</script>

<style>
  .h-screen {
    height: 100vh;
  }
</style>
